In [1]:
!pip install pandas

Requirement already satisfied: pandas in ./anaconda3/lib/python3.8/site-packages (1.1.3)
Requirement already satisfied: numpy>=1.15.4 in ./anaconda3/lib/python3.8/site-packages (from pandas) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in ./anaconda3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in ./anaconda3/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
!pip install pyspark

Requirement already satisfied: pyspark in ./anaconda3/lib/python3.8/site-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in ./anaconda3/lib/python3.8/site-packages (from pyspark) (0.10.9.2)

In [3]:
import pandas as pd
df = pd.read_csv('/home/vkkr125/programming/bigdata/test.csv')
df

      Name  Age
0   vicky    21
1   rakesh   22
2   rajeev   23
3  shubham   19
4    umesh    3

In [4]:
!pip install findspark

Requirement already satisfied: findspark in ./.local/lib/python3.8/site-packages (1.4.2)

In [5]:
import findspark
findspark.init()
import pyspark

In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('practice2').getOrCreate()

In [7]:
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row

df = spark.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
])
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [8]:
df.show()
df.printSchema()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  4|5.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

In [9]:
data = spark.sparkContext.parallelize([1,2,3,4,5])

In [10]:
data.count()

5

In [11]:
data.collect()

[1, 2, 3, 4, 5]

In [12]:
import collections

lines = spark.sparkContext.textFile('/home/vkkr125/programming/bigdata/u.data')
ratings = lines.map(lambda x : x.split()[2])
result = ratings.countByValue()

sorted_data = collections.OrderedDict(sorted(result.items()))
for key,value in sorted_data.items():
  print(key,value)

1 2
2 1
3 2

### sparkdataframe, function and manupulation

In [13]:
spark

In [14]:
df_pyspark = spark.read.csv('/home/vkkr125/programming/bigdata/test.csv')
df_pyspark.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|   Name|Age|
| vicky | 21|
| rakesh| 22|
| rajeev| 23|
|shubham| 19|
|  umesh|  3|
+-------+---+

In [15]:
# read the data with first row as column
df_pyspark = spark.read.option('header','true').csv('/home/vkkr125/programming/bigdata/test.csv')
df_pyspark.show()
type(df_pyspark)
df_pyspark.printSchema()

+-------+---+
|   Name|Age|
+-------+---+
| vicky | 21|
| rakesh| 22|
| rajeev| 23|
|shubham| 19|
|  umesh|  3|
+-------+---+

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

#### 1st tutorial




# pyspark dataframe tutorial 1....................................
1 reading the dataset 
2 checking the datatypes of column schema
3 selecting columns and indexing 
4 check describe option simmiller to pandas
5 adding columns
6 droping columns
7 Renaming the columns

In [16]:
df_pyspark = spark.read.option('header','true').csv('/home/vkkr125/programming/bigdata/test2.csv')
df_pyspark.show()
df_pyspark.printSchema()

+--------+---+---------+
|    Name|Age|Expricnce|
+--------+---+---------+
|   vicky| 21|        1|
|  rajeev| 22|        3|
|   mohan| 21|        4|
|    modi|  3|        5|
| shubham|  5|        8|
|rajeever|  4|       44|
|  preeti| 21|        2|
+--------+---+---------+

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Expricnce: string (nullable = true)

In [17]:
# spark read the datatypes as string by default even that wast string or int or any datatype 
# we can provide inferschema to take as it is


df_pyspark = spark.read.option('header','true').csv('/home/vkkr125/programming/bigdata/test2.csv',inferSchema = True)
df_pyspark.show()
df_pyspark.printSchema()

+--------+---+---------+
|    Name|Age|Expricnce|
+--------+---+---------+
|   vicky| 21|        1|
|  rajeev| 22|        3|
|   mohan| 21|        4|
|    modi|  3|        5|
| shubham|  5|        8|
|rajeever|  4|       44|
|  preeti| 21|        2|
+--------+---+---------+

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Expricnce: integer (nullable = true)

In [26]:
# same as above 
df_pyspark = spark.read.csv('/home/vkkr125/programming/bigdata/test2.csv',header = True,inferSchema = True)
df_pyspark.show()
df_pyspark.printSchema()

+--------+---+---------+
|    Name|Age|Expricnce|
+--------+---+---------+
|   vicky| 21|        1|
|  rajeev| 22|        3|
|   mohan| 21|        4|
|    modi|  3|        5|
| shubham|  5|        8|
|rajeever|  4|       44|
|  preeti| 21|        2|
+--------+---+---------+

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Expricnce: integer (nullable = true)

In [34]:
print(df_pyspark.columns)
df_pyspark.describe().show()
# type(df_pyspark.columns[0])

# here describe take string in computation as well

['Name', 'Age', 'Expricnce']
+-------+-----+------------------+------------------+
|summary| Name|               Age|         Expricnce|
+-------+-----+------------------+------------------+
|  count|    7|                 7|                 7|
|   mean| null|13.857142857142858| 9.571428571428571|
| stddev| null| 9.245333443212877|15.349887544182451|
|    min| modi|                 3|                 1|
|    max|vicky|                22|                44|
+-------+-----+------------------+------------------+

In [35]:
df_pyspark.head(4)

[Row(Name='vicky', Age=21, Expricnce=1),
 Row(Name='rajeev', Age=22, Expricnce=3),
 Row(Name='mohan', Age=21, Expricnce=4),
 Row(Name='modi', Age=3, Expricnce=5)]

In [42]:
# selecting columns 
df_pyspark.select('Name').show()
df_pyspark.select(['Name','Age']).show()

# select the columns based of the logics 
df_pyspark.select([str(v) for v in df_pyspark.columns]).show()

+--------+
|    Name|
+--------+
|   vicky|
|  rajeev|
|   mohan|
|    modi|
| shubham|
|rajeever|
|  preeti|
+--------+

+--------+---+
|    Name|Age|
+--------+---+
|   vicky| 21|
|  rajeev| 22|
|   mohan| 21|
|    modi|  3|
| shubham|  5|
|rajeever|  4|
|  preeti| 21|
+--------+---+

+--------+---+---------+
|    Name|Age|Expricnce|
+--------+---+---------+
|   vicky| 21|        1|
|  rajeev| 22|        3|
|   mohan| 21|        4|
|    modi|  3|        5|
| shubham|  5|        8|
|rajeever|  4|       44|
|  preeti| 21|        2|
+--------+---+---------+

In [50]:
# to get the datafram row
print(df_pyspark.collect()[0])

# get particulat element in particular row 
print(df_pyspark.collect()[0]['Age'])# or 
print(df_pyspark.collect()[0][1])

21

In [64]:
# adding a column to a dataframe 

# both works int the same way df['column_name'] gives only column and we can apply any operations on that but we can not perform show or collect on that for that we
# have to use select or show method 



# thsese are not inplace operations we have to assign to another dataframe 
# df_pyspark.withColumn('Exprience after two years', df_pyspark.Expricnce + 2).show()
df_pyspark.withColumn('Expricen after two years', df_pyspark['Expricnce'] + 2).show()

+--------+---+---------+------------------------+
|    Name|Age|Expricnce|Expricen after two years|
+--------+---+---------+------------------------+
|   vicky| 21|        1|                       3|
|  rajeev| 22|        3|                       5|
|   mohan| 21|        4|                       6|
|    modi|  3|        5|                       7|
| shubham|  5|        8|                      10|
|rajeever|  4|       44|                      46|
|  preeti| 21|        2|                       4|
+--------+---+---------+------------------------+

In [70]:
# drop the column from the dataframe 
df_pyspark = df_pyspark.drop('Expricen after two year').show()


# drop multiple columns
df_pyspark.drop('Age','Expricen after two year').show()
# df_pyspark.select(['Age','Name']).show()

+--------+---+---------+
|    Name|Age|Expricnce|
+--------+---+---------+
|   vicky| 21|        1|
|  rajeev| 22|        3|
|   mohan| 21|        4|
|    modi|  3|        5|
| shubham|  5|        8|
|rajeever|  4|       44|
|  preeti| 21|        2|
+--------+---+---------+

+--------+---------+
|    Name|Expricnce|
+--------+---------+
|   vicky|        1|
|  rajeev|        3|
|   mohan|        4|
|    modi|        5|
| shubham|        8|
|rajeever|       44|
|  preeti|        2|
+--------+---------+

+---+--------+
|Age|    Name|
+---+--------+
| 21|   vicky|
| 22|  rajeev|
| 21|   mohan|
|  3|    modi|
|  5| shubham|
|  4|rajeever|
| 21|  preeti|
+---+--------+

In [72]:
# Rename the column in the dataframe 
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+---------+
|New Name|Age|Expricnce|
+--------+---+---------+
|   vicky| 21|        1|
|  rajeev| 22|        3|
|   mohan| 21|        4|
|    modi|  3|        5|
| shubham|  5|        8|
|rajeever|  4|       44|
|  preeti| 21|        2|
+--------+---+---------+

#### 2nd tutorial

1 Droping Rows
2 Droping Columns
3 various parameters in droping funcnility 
4 handling missing values by mean,median and mode

In [79]:
df_pyspark = spark.read.csv('/home/vkkr125/programming/bigdata/test3.csv',header = True,inferSchema = True)
df_pyspark.show()
df_pyspark.printSchema()

+-------+----+---------+------+
|  Name | Age|Exprience|Salary|
+-------+----+---------+------+
| Vicky |  21|        1| 17000|
| Rajeev|  22|        2| 42000|
| Pandit|  23|        1| 56000|
|shubham|  21|        2| 28000|
|   Modi|  22|        3| 75000|
|  Sunny|  28|        4| 38000|
| mahesh|null|     null| 45000|
|   null|  34|       10| 38000|
|   null|  36|     null|  null|
+-------+----+---------+------+

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Exprience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [92]:
# df_pyspark.drop('Age').show()
df_pyspark.drop('Exprience').show()

+-------+----+------+
|  Name | Age|Salary|
+-------+----+------+
| Vicky |  21| 17000|
| Rajeev|  22| 42000|
| Pandit|  23| 56000|
|shubham|  21| 28000|
|   Modi|  22| 75000|
|  Sunny|  28| 38000|
| mahesh|null| 45000|
|   null|  34| 38000|
|   null|  36|  null|
+-------+----+------+

In [103]:
# all the rows will be deleted where atleas one column has null value
df_pyspark.na.drop().show()

+-------+---+---------+------+
|  Name |Age|Exprience|Salary|
+-------+---+---------+------+
| Vicky | 21|        1| 17000|
| Rajeev| 22|        2| 42000|
| Pandit| 23|        1| 56000|
|shubham| 21|        2| 28000|
|   Modi| 22|        3| 75000|
|  Sunny| 28|        4| 38000|
+-------+---+---------+------+

In [106]:
# those rows will be deleted which row has all the columns vlues are null
df_pyspark.na.drop(how = 'all').show()
# we don't have any column that has all the values null

+-------+----+---------+------+
|  Name | Age|Exprience|Salary|
+-------+----+---------+------+
| Vicky |  21|        1| 17000|
| Rajeev|  22|        2| 42000|
| Pandit|  23|        1| 56000|
|shubham|  21|        2| 28000|
|   Modi|  22|        3| 75000|
|  Sunny|  28|        4| 38000|
| mahesh|null|     null| 45000|
|   null|  34|       10| 38000|
|   null|  36|     null|  null|
+-------+----+---------+------+

In [107]:

# all the rows will be deleted that has not more that 2 not null values
# we can provide the threshold value to the function to drop the na values
df_pyspark.na.drop(thresh = 2).show()

+-------+----+---------+------+
|  Name | Age|Exprience|Salary|
+-------+----+---------+------+
| Vicky |  21|        1| 17000|
| Rajeev|  22|        2| 42000|
| Pandit|  23|        1| 56000|
|shubham|  21|        2| 28000|
|   Modi|  22|        3| 75000|
|  Sunny|  28|        4| 38000|
| mahesh|null|     null| 45000|
|   null|  34|       10| 38000|
+-------+----+---------+------+

In [109]:
# all the rows will be deteted where name is null 
df_pyspark.na.drop(subset = ['Name ']).show()

+-------+----+---------+------+
|  Name | Age|Exprience|Salary|
+-------+----+---------+------+
| Vicky |  21|        1| 17000|
| Rajeev|  22|        2| 42000|
| Pandit|  23|        1| 56000|
|shubham|  21|        2| 28000|
|   Modi|  22|        3| 75000|
|  Sunny|  28|        4| 38000|
| mahesh|null|     null| 45000|
+-------+----+---------+------+

In [144]:
# fill the missing values 

# null vlues in name column is now missing
df_pyspark.na.fill(value = 'missing',subset = ['Name ']).show()
df_pyspark.na.fill(value = 20).show() # all the null will be filled with 20 no

+-------+----+---------+------+
|  Name | Age|Exprience|Salary|
+-------+----+---------+------+
| Vicky |  21|        1| 17000|
| Rajeev|  22|        2| 42000|
| Pandit|  23|        1| 56000|
|shubham|  21|        2| 28000|
|   Modi|  22|        3| 75000|
|  Sunny|  28|        4| 38000|
| mahesh|null|     null| 45000|
|missing|  34|       10| 38000|
|missing|  36|     null|  null|
+-------+----+---------+------+

+-------+---+---------+------+
|  Name |Age|Exprience|Salary|
+-------+---+---------+------+
| Vicky | 21|        1| 17000|
| Rajeev| 22|        2| 42000|
| Pandit| 23|        1| 56000|
|shubham| 21|        2| 28000|
|   Modi| 22|        3| 75000|
|  Sunny| 28|        4| 38000|
| mahesh| 20|       20| 45000|
|   null| 34|       10| 38000|
|   null| 36|       20|    20|
+-------+---+---------+------+

In [130]:

# multiply the salary column by 2 
df_pyspark.withColumn('New Salary',df_pyspark['Salary'] * 2).drop('Salary').show()

+-------+----+---------+----------+
|  Name | Age|Exprience|New Salary|
+-------+----+---------+----------+
| Vicky |  21|        1|     34000|
| Rajeev|  22|        2|     84000|
| Pandit|  23|        1|    112000|
|shubham|  21|        2|     56000|
|   Modi|  22|        3|    150000|
|  Sunny|  28|        4|     76000|
| mahesh|null|     null|     90000|
|   null|  34|       10|     76000|
|   null|  36|     null|      null|
+-------+----+---------+----------+

#### 3rd tutorial

filter operation
&,|,==
~

In [149]:
df_pyspark = spark.read.csv('/home/vkkr125/programming/bigdata/test3.csv',header = True,inferSchema = True).na.drop()
df_pyspark.show()

+-------+---+---------+------+
|  Name |Age|Exprience|Salary|
+-------+---+---------+------+
| Vicky | 21|        1| 17000|
| Rajeev| 22|        2| 42000|
| Pandit| 23|        1| 56000|
|shubham| 21|        2| 28000|
|   Modi| 22|        3| 75000|
|  Sunny| 28|        4| 38000|
+-------+---+---------+------+

In [150]:
# filter operations on pyspark dataframes

In [154]:
df_pyspark.filter('Salary <= 40000').show()
df_pyspark.filter(df_pyspark['Salary'] <= 40000).show()

+-------+---+---------+------+
|  Name |Age|Exprience|Salary|
+-------+---+---------+------+
| Vicky | 21|        1| 17000|
|shubham| 21|        2| 28000|
|  Sunny| 28|        4| 38000|
+-------+---+---------+------+

+-------+---+---------+------+
|  Name |Age|Exprience|Salary|
+-------+---+---------+------+
| Vicky | 21|        1| 17000|
|shubham| 21|        2| 28000|
|  Sunny| 28|        4| 38000|
+-------+---+---------+------+

In [159]:
# rows with salary <= 60000 and >= 300000
df_pyspark.filter((df_pyspark['Salary'] <= 60000) & (df_pyspark['Salary'] >= 30000)).show()

# take only 2 rows 
df_pyspark.filter((df_pyspark['Salary'] <= 60000) & (df_pyspark['Salary'] >= 30000)).select('Name ','Exprience').show()

+------+---+---------+------+
| Name |Age|Exprience|Salary|
+------+---+---------+------+
|Rajeev| 22|        2| 42000|
|Pandit| 23|        1| 56000|
| Sunny| 28|        4| 38000|
+------+---+---------+------+

+------+---------+
| Name |Exprience|
+------+---------+
|Rajeev|        2|
|Pandit|        1|
| Sunny|        4|
+------+---------+

In [163]:
df_pyspark.filter((df_pyspark['Salary'] <= 60000) & (df_pyspark['Salary'] >= 30000)).select('Name ','Exprience').show()

+------+---------+
| Name |Exprience|
+------+---------+
|Rajeev|        2|
|Pandit|        1|
| Sunny|        4|
+------+---------+

#### 4th tutorial

In [165]:
df_pyspark = spark.read.csv('/home/vkkr125/programming/bigdata/test4.csv',header = True,inferSchema = True)
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [174]:
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [179]:

# Mean salary of each departmenst 
df_pyspark.groupBy('Departments').mean().show() 
df_pyspark.groupBy('Departments').count().show() # number of people on each departments

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [177]:
# we can directely apply aggrigate functions
# total salary /expendature 
df_pyspark.agg({'Salary' : 'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+